.wallet-container {
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 32px;
}

.amount-container {
  position: relative;
}
//
.btn-add-all {
  position: absolute;
  right: 0px;
  top: 2px;
  padding: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
