$payment-send-form-border-color: #ced4da;

.wallet-container {
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 32px;
}

.amount-container {
  position: relative;
}
//
.btn-add-all {
  position: absolute;
  right: 0px;
  top: 2px;
  padding: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.asset-field {
  position: relative;
  padding: 20px;
  background-clip: padding-box;
  border: 1px solid $payment-send-form-border-color;
  border-radius: .25rem;
  margin-bottom: 15px;

  &__btn-close {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 1px;
    right: -4px;
  }
}

.btn-add-asset {
  padding: 0 !important;
  margin-bottom: 16px;
}
