.info-card {
  max-height: 120px;
  min-width: 0;
  border: none !important;
  display: flex;
  flex-direction: column;
  border-radius: 0 !important;
  padding: 16px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  --header: #ffc107;
  --block: #28a745;

  &--green {
    background: #fff;
    color: #000;
  }

  &--orange {
    background: #fff;
    color: #000;
  }

  &__title {
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
  }

  &__label {
    color: #121212;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 0;
  }

  &__progress {
    height: 10px;
    width: 80%;
    border-radius: 10px;
    display: inline-block;
  }
}
