.main-container {
  position: absolute;
  margin-top: 72px;
  top: 0;
  left: 256px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
}

.sidebar {
  position: absolute;
  height: calc(100% - 56px);
  width: 256px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none !important;
}

.navbar {
  background: #000;
  color: #fff;
}

.navbar-brand {
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #fff !important;
}

.logotype {
  height: 46px;
  margin-right: 145px;
}
