.main-container {
  position: absolute;
  margin-top: 74px;
  top: 0;
  left: 256px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
}

.sidebar {
  position: absolute;
  height: calc(100% - 74px);
  width: 256px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none !important;
}

.navbar {
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
}
